# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.python-version

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Project specific
filtered_directory_structure.txt
pesticide_project/pesticide_limits.json
pesticide_project/api/management/commands/tree_make.py
pesticide_project/api/tests.py

# IDEs and Editors
.vscode/
*.code-workspace
.idea/

# Environment variables
.env
.env.*

# Docker
Dockerfile.local
docker-compose*.yml
.docker/